streamlit>=1.32.0

google-genai>=0.5.0

pandas
pyarrow

langchain
langchain-community
langchain-core

faiss-cpu

pypdf
PyPDF2

sentence-transformers

python-dotenv

gTTS

huggingface_hub

torch
torchvision

# extra stability fix
numpy
tqdm