streamlit>=1.32.0

transformers==4.41.2
torch==2.3.0
sentencepiece

langchain
langchain-community
langchain-core

faiss-cpu

pypdf
PyPDF2

sentence-transformers

python-dotenv

gTTS

huggingface_hub

pandas
pyarrow
numpy
tqdm